<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LSV_CTST_Proj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ctDataCtr</display-name>
    <servlet-name>ctDataCtr</servlet-name>
    <servlet-class>Controller.ctDataCtr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctDataCtr</servlet-name>
    <url-pattern>/ctDataCtr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ctDataDetails</display-name>
    <servlet-name>ctDataDetails</servlet-name>
    <servlet-class>Controller.ctDataDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctDataDetails</servlet-name>
    <url-pattern>/ctDataDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stDataDetails</display-name>
    <servlet-name>stDataDetails</servlet-name>
    <servlet-class>Controller.stDataDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stDataDetails</servlet-name>
    <url-pattern>/stDataDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ctDataComparison</display-name>
    <servlet-name>ctDataComparison</servlet-name>
    <servlet-class>Controller.ctDataComparison</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctDataComparison</servlet-name>
    <url-pattern>/ctDataComparison</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadFile</display-name>
    <servlet-name>uploadFile</servlet-name>
    <servlet-class>Controller.uploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFile</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadSTfile</display-name>
    <servlet-name>uploadSTfile</servlet-name>
    <servlet-class>Controller.uploadSTfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadSTfile</servlet-name>
    <url-pattern>/uploadSTfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>writeData</display-name>
    <servlet-name>writeData</servlet-name>
    <servlet-class>Controller.writeData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>writeData</servlet-name>
    <url-pattern>/writeData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>writeStData</display-name>
    <servlet-name>writeStData</servlet-name>
    <servlet-class>Controller.writeStData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>writeStData</servlet-name>
    <url-pattern>/writeStData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>statistics</display-name>
    <servlet-name>statistics</servlet-name>
    <servlet-class>Controller.statistics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>statistics</servlet-name>
    <url-pattern>/statistics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajaxReceiver</display-name>
    <servlet-name>ajaxReceiver</servlet-name>
    <servlet-class>Controller.ajaxReceiver</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CreateDataIntegTemplate</display-name>
  	<servlet-name>CreateDataIntegTemplate</servlet-name>
  	<servlet-class>Controllor.CreateDataIntegTemplate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxReceiver</servlet-name>
    <url-pattern>/ajaxReceiver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateDataIntegTemplate</servlet-name>
  	<url-pattern>/CreateDataIntegTemplate</url-pattern>
  </servlet-mapping>
</web-app>